<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
            layout:decorator="Layout">
<head>
	<meta charset="utf-8"/>
	<title>Produits</title>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css"
	 th:href="@{css/bootstrap.min.css}"/>
</head>
<body>
  <div layout:fragment="content">
	<div class="container" >
	 <form th:action="@{/user/index}" method="get">
	   <label>Mot Clé: </label>
	   <input  name="mc" type="text" th:value="${mc}"/>
	   <button class="btn btn-primary">chercher</button>
	 </form>
	</div>
	<div class="container">
	  <h3>Liste des Produits</h3>
	  <table class="table">
		  <thead>
		    <tr>
		     <th>ID</th><th>Désignation</th><th>Prix</th><th>Quantite</th>
		    </tr>
		  </thead>
		  <tbody>
		   <tr th:each="p:${listeProduits}">
			   <td th:text="${p.id}"></td>
			   <td th:text="${p.designation}"></td>
			   <td th:text="${p.prix}"></td>
			   <td th:text="${p.quantite}"></td>
			   <td>
			       <a th:href="@{/admin/edit(id=${p.id})}"><button class="btn btn-default btn-xs btn-detail">Edit</button></a>
			       <a onClick="return confirm('Etes vous sure?')" th:href="@{/admin/delete(id=${p.id})}"><button class="btn btn-danger btn-xs btn-delete">Delete</button></a>
			   </td>
		    
		   </tr>
		  </tbody>
		</table>
	 
	</div>
	<div class="container">
		<div>
		 <ul class="nav nav-pills">
			<li th:class="${p}==${status.index}?'active':''" th:each="pa,status:${pages}" >
				<a th:href="@{/user/index(page=${status.index},size=${size},mc=${mc})}" th:text="${status.index}"></a>
			</li>
		 </ul>
		</div>
	</div>
 </div>
</body>
</html>